.toolbar {
    margin: 10px 0px;
}

.toolbar span {
    padding: 8px;
}

.toolbar button {
    display: inline-block;
    text-align: center;
    background-color: #3c78d8;
    border: 1px solid #1155cc;
    color: #fff;
    padding: 6px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    /*width: 80px;*/
    text-decoration: none;

}

.navigator_default_main {
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
